<% path = user_story ? new_project_user_story_instant_message_path(project, user_story) : new_project_instant_message_path(project)%>
<div class="empty_list">
	No related instant message exists.
</div>