<% title "Edit Instant Message" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @instant_message %> |
  <%= link_to "View All", project_instant_messages_path(@instant_message.project) %>
</p>
