<% title "Instant Messages" %>

<%= render :partial => 'show', :collection => @instant_messages, :as => :instant_message%>

<p><%= link_to "New Instant Message", new_project_instant_message_path(@project) %></p>
