<% path = user_story ? new_project_user_story_message_path(project, user_story) : new_project_message_path(project)%>
<div class="empty_list">
	This page section will show you the messages <%= " for <strong>\"#{user_story.title}\"</strong>" if user_story%>. <br/>
	You can <%= link_to "Post a Message", path %> to use this section.
</div>