<div class="people">
	<% Role.all.each do |role| %>	
		<strong><%= role.name%>: </strong>
		<%= project.memberships.in_role(role).collect{|membership|  membership.user.name}.join(", ")%>
		[<%= link_to "Select #{role.name}", new_project_role_membership_path(project, role) %>]
		<br/>
	<% end %>
</div>