<h3>
	Current Sprint Backlog
	<%= link_to "Product Backlog", project_user_stories_path(project) %>
</h3>
<div class="empty_list">
	This page section will show you the current sprint Backlog. 
	You can <%= link_to "Create a Current Sprint", new_project_sprint_path(project) %>
	to start using this section.
</div>